html, body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

#content {
    margin-top: -40px;
}

#content h2 {
    
}

#content a {
    text-decoration: none;
}

#content li {
    margin: 10px 0;
}

#container {
    width: 65%;
    margin: 0 auto;
    position: relative;
}

#main-area {
    position: relative;
}

header {
    background-color: #512DA8 ;
}

header h1{
    font-size: 45px;
    color: #FFF;
    margin: 0;
    padding: 50px 30px 50px 100px;
}

header h4 {
    color: #D1C4E9;
    margin: -27px 0 50px 150px;
    padding-bottom: 27px;
}

nav {
    margin: 0;
    position: relative;
    top: -40px;
    background-color: #D1C4E9;
    height: 44px;
}

nav ul {
    margin: -10px auto;
}

ul li {
    margin: 10pxs;
    display: inline-block;
}
nav li {
    margin: 10px 30px;
}

nav li a {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #512DA8;
    font-weight: 600;
}
nav li a:hover {
    background-color: #512DA8;
    color: #FFF;
}